.navi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-content: center;

  padding: 2rem 10rem;
  background-color: #fff;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.71);

  &__logo {
    font-family: var(--text-display);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    &--bold {
      font-weight: 700;
      color: var(--primary);
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: minmax(2rem, 1fr);
    align-items: center;
    justify-items: center;
    &--link {
      font-size: 1.65rem;
      margin: 0 1rem;
      font-weight: 500;
    }
  }
}
