@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Josefin+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");

//Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

:root {
  --text-default: "Montserrat", sans-serif;
  --text-display: "Josefin Sans", sans-serif;
  --text-code: "Source Code Pro", monospace;
  --white: #fff;
  --light: #f8f9fa;
  --primary: #fb1d5c;
}
