/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
 */

// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

html {
  box-sizing: border-box;
  line-height: 1.8;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: var(--text-default);
  background-color: var(--white);
}

a:link,
a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
a:hover {
  color: var(--primary);
}
a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-display);
  text-transform: capitalize;
}

h1:after {
  background: none repeat scroll 0 0 var(--primary);
  bottom: -5px;
  right: -1px;
  content: " ";
  display: block;
  height: 0.4rem;
  position: relative;
  width: 5rem;
}

img {
  max-width: 100%;
}

pre {
}

code {
  font-family: var(--text-code);
  color: black;
  font-size: 1.45rem;
}

blockquote {
  color: #7d7d7d;
  font-style: italic;
  border-left: 2px solid var(--primary);
  padding-left: 2rem;
}
